:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --hover-color: #2980b9;
  --active-color: #e74c3c;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-color: #c81c09;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 2rem;
  width: 100%;
  max-width: 800px;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 300;
}

nav {
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}


a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
li {
    margin: 0;
    border-radius: 10px;
    width: 15rem;
    height: 40px;
    background-color: #cf1500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

li:hover {
    background-color: #e63946;
    transform: translateY(-5px);
}

li:active {
    background-color: #a80f00;
    transform: translateY(0);
}




a:hover {
  background-color: var(--hover-color);
  color: rgb(108, 108, 108);
}

a.active {
  background-color: var(--active-color);
  color: rgb(255, 255, 255);
  
}

router-outlet {
    
  display: block;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: inset 0 2px 4px var(--shadow-color);
}

@media (max-width: 600px) {
  .app-container {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
  }
}